body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/092/943/small_2x/abstract-mixed-pastel-colors-background-free-vector.jpg'); /* Replace 'background-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url('https://www.shutterstock.com/shutterstock/videos/1048091209/thumb/1.jpg?ip=x480'); /* Replace 'container-background.jpg' with the path to your container background image */
    background-size: cover;
    background-position: center;
    color: white; /* Set text color to white for better readability */
}



h1 {
    color: #333;
}
p1 {
   color: darkred;
}
p2 {
   color: darkgreen;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

input[type="number"] {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

p {
    color: #666;
}
